html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-size: 24px;
    /* color: #f6f6f6; */
    color: white;
    font-family: 'Karla', sans-serif;
    font-family: 'Lato', sans-serif;
    background-color: black;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.display-inline-block {
    display: inline-block;
}

/* ---------- HEADER ---------- */

header {
    background-color: rgb(0, 0, 0, .8);
    border-bottom: 1px solid white;
}

.header-container {
    width: 100%;
    max-width: 450px;
    display: grid;
    grid-template-rows: auto auto;
}

/* .title holds "Spectre Design" */
.title {
    display: inline-block;
    width: 250px;
    grid-row: 1;
    grid-column: 1;
    /* margin: auto; */
    margin-left: 0;
}

h1 {
    margin: 0 0 0 12px;
    font-size: 30px;
    display: inline-block;
}

#header-text-wrapper {
    margin-top: 12px;
    margin-bottom: 12px;
    max-width: 275px;
    grid-row: 1;
    grid-column: 1;
}

.header-text-container {
    display: inline-block;
}

.header-text {
    display: inline-block;
    margin: 6px 0 0 12px;

}

.menu {
    display: inline-block;
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: white;
    margin-left: auto;
    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 12px;
    padding: 6px;
    border-radius: 6px;
    height: 60px;
    filter: invert(100%);
    transition-duration: 500ms;
    transition-property: filter, transform, opacity;
    transition-timing-function: ease-out;
}

.menu:hover {
    opacity: .5;
}

.menu.clicked {
    transform: rotate(90deg);
    /* filter: invert(100%); */
}

.menu img {
    width: 48px;
    height: 48px;
}

#nav-container {
    grid-column: 1 / span 2;
    margin-bottom: 12px;
    transition-property: height;
    -webkit-transition-property: height;
    transition-duration: 500ms;
    -webkit-transition-duration: 500ms;
    transition-timing-function: ease-out;
    -webkit-transition-duration: ease-out;
    height: 0;
    overflow: hidden;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
}

#nav-container.clicked {
    height: 34px;
}


nav {
    grid-row: 1;
    grid-column: 1 / span 2;
    display: flex;
    justify-content: space-between;
}

.main-nav button {
    border: 1px solid white;
    padding: 6px;
    font-size: 12px;
    color: white;
    background-color: transparent;
    width: 72px;
    transition-property: opacity;
    transition-duration: 500ms;
    vertical-align: top;
}

.main-nav button:hover {
    opacity: .5;
}

.button1 {
    margin-left: 12px;
    margin-right: 6px;
    grid-column: 1;
}

.button2 {
    grid-column: 2;
    margin-left: 6px;
    margin-right: 6px;
}

.button3 {
    grid-column: 3;
    margin-left: 6px;
    margin-right: 6px;
}

.button4 {
    grid-column: 4;
    margin-left: 6px;
    margin-right: 12px;
}



/* ----- MAIN BODY / CONTENT ----- */



.main-container {
    padding: auto 12px;
    font-size: 12px;
    max-width: 450px;
    text-align: justify;
}

.main-content {
    margin: auto 12px;
}

.home-para-container {

    background-color: rgb(0, 0, 0, .8);
    padding-top: 12px;
    padding-bottom: 12px;
}

.home-para {
    margin: 0 auto;
}

#please-note {
    color: yellow;
    font-style: italic;
}

.faux-divider1, .faux-divider2, .faux-divider3 {
    border-bottom: 1px solid white; 
    width: 75%;
    margin: 12px auto 24px;
}

.work-pic {
    width: 100%;
    max-width: 450px;
}

.proj {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    background-color: rgb(0, 0, 0, .8);
    padding-top: 12px;
    padding-bottom: 12px;
}

/* footer {
    margin-left: 12px;
    margin-right: 12px;
} */

/* ----- FOOTER ----- */

.social-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 450px;
    margin: 24px auto auto;
}

.social-img a {
    margin-left: auto;
    margin-right: auto;
}

.linkedin, .github, .facebook {
    width: 75px;
    height: 75px;
    margin-bottom: 12px;
    margin-left: auto;
    margin-right: auto;
}

#facebook-wrapper, #github-wrapper, #linkedin-wrapper {
    width: 75px;
    height: 75px;
    filter: invert(100%);
}

@media screen and (min-width: 950px) {

    .logo {
        margin-right: 12px;
        margin-left: auto;
    }    

    .header-container {
        max-width: 950px;
    }

    .main-nav button {
        font-size: 18px;
        width: 80px;
    }

    .main-content {
        margin: auto 0;
    }

    /* Transition effect, needed to change height for button sizing */
    #nav-container.clicked {
        height: 42px;
    }

    .main-container, .home-para-container {
        font-size: 18px;
        max-width: 950px;
        text-align: center;
    }

    .home-para {
        text-align: center;
    }

    .faux-divider2 {
        display: none;
    }

    #mtg-project {
        grid-row: 1;
    }

    #hackertyper {
        grid-row: 1;
    }

    #amazon-scraper {
        grid-row: 2;
    }

    #amazon-project {
        grid-row: 2;
    }

    .main-container p {
        margin: 12px 12px;
    }

    .proj {
        max-width: 950px;
    }

    .work-pics-container {
        width: 950px;
        display: grid;
        grid-template-columns: 475px 475px;
        grid-template-rows: auto auto auto;
    }

    .work-pic {
        max-width: 450px;
        /* -webkit-box-shadow: 0px 0px 106px -45px rgba(115,115,115,1);
        -moz-box-shadow: 0px 0px 106px -45px rgba(115,115,115,1);
        box-shadow: 0px 0px 106px -45px rgba(115,115,115,1); */
        border: 1px solid white;
    }

    .social-img {
        max-width: 450px;
    }
}

@media screen and (min-width: 1400px) {


    .header-container {
        max-width: 1400px;
    }

    .main-container, .home-para-container {
        max-width: 1400px;
    }

    .work-pics-container {
        width: 1400px;
        grid-template-columns: 700px 700px;
    }

    .proj {
        max-width: 1400px;
    }

    .work-pics-container p {
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

}